---
import SiteLayout from "@layouts/SiteLayout.astro";
import { getAllGVK, parseGVKRef, getGVKDefinition } from "@lib/kube";
import { LATEST_VERSION, readSwaggerSpec } from "@lib/swagger";
import { PropertyTree } from "@components/PropertyTree";

export async function getStaticPaths() {
  const spec = await readSwaggerSpec(LATEST_VERSION);
  const categories = getAllGVK(spec);
  const gvk = Object.values(categories).flat();
  return gvk.map((gvk) => ({
    params: { gvkRef: [gvk.group, gvk.version, gvk.kind].join("/") },
  }));
}

const spec = await readSwaggerSpec(LATEST_VERSION);
const { gvkRef } = Astro.params;

const gvk = parseGVKRef(gvkRef);
const apiVersion = gvk.group ? `${gvk.group}/${gvk.version}` : gvk.version;
const definition = getGVKDefinition(spec, gvk);
---

<SiteLayout
  title={`Kubernetes Spec: ${gvk.kind}`}
  description={`Documentation, properties, types and examples for ${gvk.kind} ${apiVersion}`}
>
  <main class="container mx-auto max-w-7xl px-4 py-10 sm:px-6">
    <nav class="order-first flex space-x-2 pb-10 text-sm font-semibold">
      <a class="text-slate-500 hover:text-slate-600" href="/">
        ← back to all kinds
      </a>
    </nav>

    <div class="flex flex-col pb-4">
      <h2 class="text-base font-semibold text-blue-600"></h2>
      <h2 class="text-base font-semibold text-blue-600">
        {apiVersion} &middot; {definition.scope} Resource
      </h2>
      <h1
        class="mt-2 text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl"
      >
        {gvk.kind}
      </h1>
      <pre
        class="mt-2 max-w-4xl whitespace-pre-line text-lg text-gray-800">
        {definition.description}
      </pre>
    </div>
    <PropertyTree definition={definition} level={0} client:load />
  </main>
</SiteLayout>
