---
import { getBuiltinResource, parseGVKRef, readMetadata } from "@lib/kube";
import { LATEST_VERSION, readSwaggerSpec } from "@lib/swagger";
import { PropertyTree } from "./PropertyTree";
import { PropertyType } from "./PropertyType";
import { IconBulb, IconCube } from "@tabler/icons-react";
import ResourceLinks from "./ResourceLinks.astro";
import ExampleList from "./ExampleList.astro";
import ChangeHistory from "./ChangeHistory.astro";

type Props = {
  version: string;
  gvkRef: string;
};

const { gvkRef, version } = Astro.props;
const spec = await readSwaggerSpec(version);

const gvk = parseGVKRef(gvkRef);
const apiVersion = gvk.group ? `${gvk.group}/${gvk.version}` : gvk.version;
const resource = getBuiltinResource(spec, gvk);

if (!resource) {
  throw new Error(`Resource not found for ${apiVersion}/${gvk.kind}`);
}

const metadata = await readMetadata(gvk);
---

<nav class="order-first flex space-x-2 pb-10 text-sm font-semibold">
  <a
    class="text-muted-foreground hover:underline"
    href={!version || version === LATEST_VERSION ? "/" : `/v${version}`}
  >
    ← back to all kinds
  </a>
</nav>

<div class="flex flex-col pb-4">
  <div
    class="flex flex-col md:flex-row gap-2 md:items-center text-base font-semibold text-primary"
  >
    <h2>{apiVersion}</h2>
    <span class="hidden md:block">&middot;</span>
    <div
      class="inline-flex w-fit items-center gap-1 leading-none border px-2 py-1 text-muted-foreground text-sm rounded-lg"
    >
      {
        resource.scope === "Namespaced" ? (
          <IconCube className="size-4 inline" />
        ) : (
          <img src="/kubernetes.svg" class="size-4 inline" />
        )
      }
      {
        resource.scope === "Namespaced"
          ? "Namespaced Resource"
          : "Cluster-scoped Resource"
      }
    </div>
  </div>
  <h1 class="mt-2 text-3xl font-bold leading-8 tracking-tight sm:text-4xl">
    {gvk.kind}
  </h1>
  <pre
    class="mt-2 max-w-4xl whitespace-pre-line text-lg text-muted-foreground">
        {resource.definition.description}
      </pre>
</div>

<PropertyTree
  scope={resource.scope}
  definition={resource.definition}
  level={0}
  client:load
/>

<div
  class="inline-flex items-center gap-2 p-2 border rounded text-muted-foreground font-medium text-sm mt-4"
>
  <IconBulb className="size-4" />
  <div>
    <p>
      Click on <span class="font-bold text-foreground tracking-tighter"
        >Property Name</span
      > to show the description, and <PropertyType
        type="Pink Types"
        hasChildren
        className="font-semibold tracking-tighter"
      /> to expand schema.
    </p>
    <p>
      Required properties are marked with <span class="text-destructive">*</span
      >
    </p>
  </div>
</div>

<ChangeHistory version={version} gvk={gvk} />
<ExampleList apiVersion={apiVersion} kind={gvk.kind} />
<ResourceLinks links={metadata.links} kind={gvk.kind} />
