---
import { categorySortFn, getAllGVK, gvkSortFn } from "@lib/kube";
import { readSwaggerSpec } from "@lib/swagger";

type Props = {
  version: string;
};

const { version } = Astro.props;
const spec = await readSwaggerSpec(version);
const categories = getAllGVK(spec);
---

<main class="container mx-auto max-w-7xl px-4 py-10 sm:px-6">
  <div class="pb-10">
    <h2 class="text-base font-semibold leading-7 text-primary">
      Reference Guide
    </h2>
    <h1 class="mt-2 text-4xl font-title tracking-tight">
      Kubernetes Spec Explorer{" "}
      <span
        class="text-xl font-sans font-semibold tracking-tighter text-muted-foreground"
      >
        v{version}
      </span>
    </h1>
    <p class="mt-2 max-w-4xl text-lg leading-7">
      Find the documentation for all builtin resources, properties, types and
      even some examples!
    </p>
    <p class="mt-2 max-w-4xl text-base leading-7 text-muted-foreground">
      Select a kind from the list below to get started.
    </p>
  </div>

  <div class="flex flex-col space-y-8">
    {
      Object.keys(categories)
        .sort(categorySortFn)
        .map((category) => (
          <div>
            <h3 class="font-semibold uppercase text-muted-foreground">
              {category}
            </h3>
            <ul class="mt-1 grid grid-cols-1 gap-2 sm:grid-cols-2 sm:gap-4 lg:grid-cols-4">
              {categories[category].sort(gvkSortFn).map((gvk) => (
                <a
                  href={`/${[gvk.group, gvk.version, gvk.kind]
                    .filter(Boolean)
                    .join("/")}`}
                  class="w-full font-medium border rounded hover:text-primary"
                >
                  <div class="flex flex-1 items-center justify-between truncate">
                    <div class="flex-1 truncate px-4 py-2">
                      <p class="text-xs text-muted-foreground">
                        {gvk.group
                          ? `${gvk.group}/${gvk.version}`
                          : gvk.version}
                      </p>
                      {gvk.kind}
                    </div>
                  </div>
                </a>
              ))}
            </ul>
          </div>
        ))
    }
  </div>
</main>
