---
import {
  categorySortFn,
  getAllGVK,
  getBuiltinResource,
  gvkSortFn,
  type GVK,
} from "@lib/kube";
import { LATEST_VERSION, readSwaggerSpec } from "@lib/swagger";
import { ScopeIcon } from "./ScopeIcon";
import { listProjects } from "@lib/crds";

type Props = {
  version: string;
};

const { version } = Astro.props;
const spec = await readSwaggerSpec(version);
const categories = getAllGVK(spec);
const projects = await listProjects();

const makeUrl = (gvk: GVK) => {
  const path = `${[gvk.group, gvk.version, gvk.kind].filter(Boolean).join("/")}`;
  if (version === LATEST_VERSION) {
    return `/${path}`;
  }
  return `/v${version}/${path}`;
};
---

<div class="pb-10">
  <h2 class="text-base font-semibold leading-7 text-primary">
    Reference Guide
  </h2>
  <h1 class="mt-2 text-4xl font-title tracking-tight">
    Kubernetes Spec Explorer{" "}
    <span
      class="text-xl font-sans font-semibold tracking-tighter text-muted-foreground"
    >
      v{version}
    </span>
  </h1>
  <p class="mt-2 max-w-4xl text-lg leading-7">
    Find the documentation for all builtin resources, properties, types, and
    examples.
  </p>
  <p class="mt-2 max-w-4xl text-base leading-7 text-muted-foreground">
    Select a kind from the list below to get started.
  </p>
</div>

<div class="flex flex-col space-y-8">
  {
    Object.keys(categories)
      .sort(categorySortFn)
      .map((category) => (
        <div>
          <h3 class="font-semibold uppercase text-muted-foreground">
            {category}
          </h3>
          <ul class="mt-1 grid grid-cols-1 gap-2 sm:grid-cols-2 sm:gap-4 lg:grid-cols-4">
            {categories[category].sort(gvkSortFn).map((gvk) => {
              const resource = getBuiltinResource(spec, gvk);
              return (
                <a
                  href={makeUrl(gvk)}
                  class="w-full font-medium border rounded hover:text-primary relative"
                >
                  <div class="flex flex-1 items-center justify-between truncate">
                    <div class="flex-1 truncate px-4 py-2">
                      <p class="text-xs text-muted-foreground">
                        {gvk.group
                          ? `${gvk.group}/${gvk.version}`
                          : gvk.version}
                      </p>
                      {gvk.kind}
                    </div>
                    {resource?.scope && (
                      <ScopeIcon
                        scope={resource.scope}
                        className="h-4 w-4 absolute -top-1 -right-1 text-muted-foreground bg-background"
                        client:load
                      />
                    )}
                  </div>
                </a>
              );
            })}
          </ul>
        </div>
      ))
  }
</div>

<div class="pt-10 pb-4">
  <h2 class="mt-2 text-4xl font-title tracking-tight">Custom Resources</h2>
  <p class="mt-2 max-w-4xl text-lg leading-7">
    We also have documentation for custom resources from various projects.
  </p>
</div>

<ul
  class="mt-1 grid grid-cols-1 gap-2 sm:grid-cols-2 sm:gap-4 lg:grid-cols-4 mb-10"
>
  {
    projects
      .sort((a, b) => a.name.localeCompare(b.name))
      .map((p) => (
        <a
          href={`/${p.slug}`}
          class="w-full font-medium border rounded hover:text-primary relative"
        >
          <div class="flex flex-1 gap-1 items-center justify-between truncate p-2">
            <img src={p.logo} class="size-6 rounded" alt={p.name} />
            <div class="flex-1 truncate">{p.name}</div>
          </div>
        </a>
      ))
  }
</ul>
