---
import "@fontsource-variable/inter";
import "cal-sans";
import "./global.css";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

type Props = {
  title: string;
  description: string;
  noIndex?: boolean;
  og?: string;

  slug?: string;
  tag?: string;
  gvkRef?: string;
};

const { title, description, og, noIndex } = Astro.props;

const isProduction = import.meta.env.PROD;
const openGraphUrl = og
  ? og.startsWith("http")
    ? og
    : `https://kubespec.dev${og}`
  : "https://kubespec.dev/og.png";
---

<html lang="en" class="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <link rel="canonical" href={Astro.url} />

    {noIndex && <meta name="robots" content="noindex, nofollow" />}

    <meta property="og:title" content={title} />
    <meta name="theme-color" content="#ffffff" />
    <meta name="description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="kubespec.dev" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:image" content={openGraphUrl} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@aptakube" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={openGraphUrl} />

    {
      isProduction && (
        <script
          is:inline
          async
          data-domain="kubespec.dev"
          data-api="/e"
          src="/p.js"
        />
      )
    }
  </head>
  <body class="flex flex-col min-h-screen font-sans tracking-tight antialiased">
    <Header
      slug={Astro.props.slug}
      tag={Astro.props.tag}
      gvkRef={Astro.props.gvkRef}
    />
    <main class="container flex-1 p-4">
      <slot />
    </main>
    <Footer />
  </body>
</html>
